body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(57, 58, 59);
}
header{
    background-image: linear-gradient(to left, rgb(26, 26, 26), rgb(12, 12, 12));
    align-items: end;
    gap: 20px;
    margin-top: 0;
    display: flex;
    background-color: rgb(26, 26, 26);
}
header h1{
    margin-left: 1rem;
    color: aliceblue;
}
header nav{
    font-size: medium;
    font-weight: 200;
    color: aliceblue;
    display: flex;
    gap: 3rem;
}
nav div{
    user-select: none;
    position: static;
    font-size:  1rem;
    transition: 100ms ease-in-out;
}

#Home:hover{
    font-size: 1.5rem;

}
#Projects:hover{
    font-size: 1.5rem;
}
#AboutMe:hover{
    font-size: 1.5rem;
}

main{
    background-color: black;
   display: flex;
   flex-direction: row;
   width: 100vw;
    height: 50vw;
    align-items: center;
    justify-content: center;
    gap: 2vw;
   
}
.AbaDireita{
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
}
main .AbaDireita section{
    border-radius: 20px;
    color: rgb(240, 248, 255);
    background-color: rgba(55, 56, 58, 0.527);
    width: 50vw;
    height: 15vw;
}

section h3{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 2vw;
    margin-right: auto;
}
.AbaEsquerda{
    background-image: linear-gradient(to top, rgb(70, 70, 70), rgb(170, 170, 170));
    border-radius: 20px;
    color: rgb(240, 248, 255);
    background-color: rgb(168, 168, 168);
    width: 50vw;
    height: 47vw;
    display: flex;
    flex-direction: column;
}
.AbaEsquerda h3{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: rgba(218, 235, 236, 0);
    color: black;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 0;
    
}

.AbaDireita section p{
    font-size: 1vw;
}
.AbaEsquerda section{
    background-image: linear-gradient(to bottom, rgb(189, 192, 201), rgb(201, 205, 245));
    background-color: rgb(155, 157, 160);
    border-radius: 20px;
}
.AbaEsquerda img{  
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 20vw;
    transition: 150ms ease-in-out;
}
.AbaEsquerda img:hover{
    width: 25vw;
    height: 25vw;
}
.AbaEsquerda section p{
   
    color: rgb(27, 27, 27);
    font-size: 2vw;
}
